.error-modal {
    position: absolute;
    top: 30%;
    left: 25%;
    right: 20%;
    background: white;
    z-index: 99999;
    background-color: white;
    padding: 50px;
    border: 5px solid black;
    line-height: 1.5;
    font-size: 20px;
}

